# ========== Unity ==========

# Системные каталоги Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Кэш, временные файлы и отладочная информация
*.tmp
*.bak
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt

# Unity Crash Reports
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Запакованные билды
*.apk
*.aab
*.app
*.unitypackage
*.unitypackage.meta

# Addressables (Packed content)
Assets/AddressableAssetsData/*/*.bin*
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*

# Плагины, автоматически создаваемые Unity или JetBrains
Assets/Plugins/Editor/JetBrains*

# Память, захваты и видео
MemoryCaptures/
Recordings/

# ========== JetBrains Rider / IDEs ==========

.idea/
*.sln
*.csproj
*.user
*.suo

# ========== Visual Studio ==========

.vs/
*.unityproj
*.userprefs

# ========== MonoDevelop / Consulo ==========
*.booproj
.consulo/

# ========== Gradle / Android ==========

.gradle/
crashlytics-build.properties

# ========== Экспортируемые объекты ==========
ExportedObj/

# ========== Asset Store Tools ==========
# Убери комментарий, если используешь плагин Asset Store Tools
# Assets/AssetStoreTools*